<header is="header-scrolling" class="heading">
    <div class="page-width">
        <div class="heading__wrapper">
            <a href="{{ routes.root_url }}" class="heading__logo-wrapper">
                {%- if settings.logo_white != blank -%}
                    {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                    {{ settings.logo | image_url: width: 145 | image_tag:
                    class: 'heading__logo logo--black',
                    height: 55,
                    width: 145,
                    alt: logo_alt,
                    preload: true
                    }}
                {%- endif -%}
                {%- if settings.logo_white != blank -%}
                    {%- assign logo_alt = settings.logo_white.alt | default: shop.name | escape -%}
                    {{ settings.logo_white | image_url: width: 145 | image_tag:
                    class: 'heading__logo logo--white',
                    height: 55,
                    width: 145,
                    alt: logo_alt,
                    preload: true
                    }}

                {%- endif -%}
            </a>
            <button is="burger-button" class="burger-button">
                <span class="icon-burger icon-close">{{ 'burger-icon-close.svg' | inline_asset_content }}</span>
                <span class="icon-burger icon-open">{{ 'burger-icon-open.svg' | inline_asset_content }}</span>
            </button>
            <nav class="heading__nav">
                <ul class="heading__menu">
                    {% for link in section.settings.menu.links %}
                        <li class="heading__menu-link {% if link.links.size > 0 %}has-children{% endif %}">
                            <a href="{{ link.url }}">{{ link.title }}</a>

                            {% if link.links.size > 0 %}
                                <ul class="heading__menu">
                                    {% for child_link in link.links %}
                                        <li class="heading__menu-link {% if link.links.size > 0 %}has-children{% endif %}">
                                            <a href="{{ child_link.url }}">{{ child_link.title }}</a>

                                            {% if child_link.links.size > 0 %}
                                                <ul class="heading__menu has-children">
                                                    {% for grandchild_link in child_link.links %}
                                                        <li class="heading__menu-link">
                                                            <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div is="menu-overlay" class="menu__overlay"></div>
        </div>
    </div>
</header>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "header-menu"
    }
  ]
}
{% endschema %}