{{ 'stylesheet.css' | asset_url | stylesheet_tag }}
{{ 'mission.css' | asset_url | stylesheet_tag }}

<div class="section-mission page-width">
    <div class="section-mission__header">
        <h2 class="section-mission__title">{{ section.settings.title }}</h2>
        <div class="section-mission__content">
            <div class="section-mission__img-wrapper">
                {% if section.settings.image != blank %}
                    {{ section.settings.image | image_url: width: 486 | image_tag: widths: '486,300', class: 'custom-class', loading: 'lazy' }}
                {% endif %}
            </div>
            <div class="section-mission__description">
                {{ section.settings.description }}
            </div>
        </div>
        <div class="section-mission__list">
            {% for row in section.blocks %}
                {% case row.type %}
                    {%- when 'row' %}
                        <div class="section-mission__col">
                            <div class="section-mission__col-icon">
                                <img src="{{ row.settings.icon | img_url: '72x72' }}">
                            </div>
                            <div class="section-mission__col-text">
                                <p class="section-mission__col-title">{{ row.settings.title }}</p>
                                <p class="section-mission__col-subtitle">{{ row.settings.subtitle }}</p>
                            </div>
                        </div>
                {% endcase %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "mission",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Mission"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p><b>Energy Transition is our core and only focus.</b> We structure complex, meaningfully large renewable natural gas (RNG) and power transactions for companies committed to environmentally-sound, commercially-ready solutions.&shy; Our principals are experienced practitioners who have run companies, originated and closed complex deals, advocated and negotiated favorable policy and advanced technological innovation. With over three decades of combined experience in renewables specifically, our customers chose us, every time, for our unparalleled industry knowledge, market acumen, professionalism and commitment to their prosperity.</p>"
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "$1B"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "in closed RNG transactions in 2021 alone"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Mission",
      "blocks": [
        {
          "type": "row"
        },
        {
          "type": "row"
        },
        {
          "type": "row"
        }
      ]
    }
  ]
}
{% endschema %}
